<%- include('../components/head', { page: {title: '404 Not Found'} }) %>
<%- include('../components/navbar') %>
<main>
    <div class="container"><%= user.username %></div>
</main>
<%- include('../components/footer') %>