<nav class="bg-gray-900 text-white py-4">
    <div class="container mx-auto flex justify-between flex-col gap-8 md:flex-row xl:gap-0 items-center">
        <div class="flex items-center gap-8">
            <a href="/">
                <h2 class="text-2xl font-bold">NewS</h2>
            </a>
            <ul class="flex gap-4 text-sm">
                <% if (user && isAdmin) { %>
                    <li class="hover:underline"><a href="/categories">Категории</a></li>
                    <li class="hover:underline"><a href="/categories/create">Добавить категорию</a></li>
                <% } %>
                <% if (user && (isEditor || isAdmin)) { %>
                    <li class="hover:underline"><a href="/news">Список новости</a></li>
                    <li class="hover:underline"><a href="/news/create">Добавить новость</a></li>
                <% } %>
            </ul>
        </div>
        <% if(user) {%>
            <div>
                <a href="/user/profile"><%= user.username %></a>
            </div>
        <% } else { %>
            <div class="flex gap-4">
                <a href="/auth/signup"><button class="cursor-pointer px-2 py-1 rounded hover:bg-white hover:text-gray-900 transition-colors">Регистрация</button></a>
                <a href="/auth/login"><button class="cursor-pointer border px-2 py-1 rounded hover:bg-white hover:text-gray-900 transition-colors">Вход</button></a>
            </div>
        <% } %>
    </div>
</nav>
